<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}"></a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
          integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
          crossorigin="anonymous"></script>

  <footer>
    <div class="rounded-social-buttons">
    {%- if site.instagram -%}
    <a title="{{ _locale_string_follow }}"
    class="social-button instagram"
    href="https://www.instagram.com/{{ site.instagram }}" itemprop="sameAs"
    target="_blank">
    <i class="fab fa-instagram"></i>
    </a>
    {%- endif -%}

    {%- if site.linkedin -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'LinkedIn' }}"
    class="social-button linkedin"
    href="https://www.linkedin.com/in/{{ site.linkedin }}" itemprop="sameAs"
    target="_blank">
    <i class="fab fa-linkedin"></i>
    </a>
    {%- endif -%}

    {%- if site.github -%}
    <a title="{{ _locale_string_follow | replace: '[NAME]', 'GitHub' }}"
    class="social-button github"
    href="https://www.github.com/{{ site.github }}" itemprop="sameAs"
    target="_blank">
    <i class="fab fa-github"></i>
    </a>
    {%- endif -%}

    {%- if site.email -%}
    <a title="{{ _locale_string_email }}"
    class="social-button email" itemprop="email"
    href="mailto:{{ site.email | encode_email }}" target="_blank">
    <i class="far fa-envelope"></i>
    </a>
    {%- endif -%}
    </div>
  </footer>
  <div class="container sidebar-sticky">
    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
